version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  bearer:
    docker:
      - image: cimg/ruby:3.2
    environment:
      # Set to default branch of your repo
      DEFAULT_BRANCH: main
    steps:
      - checkout
      - run: curl -sfL https://raw.githubusercontent.com/Bearer/bearer/main/contrib/install.sh | sh -s -- -b /tmp
      - run: CURRENT_BRANCH=$CIRCLE_BRANCH SHA=$CIRCLE_SHA1 /tmp/bearer scan .
  lint:
    working_directory: ~/project
    docker:
      - image: cimg/node:20.11.0
    steps:
      - checkout
      - node/install:
          node-version: '20.11.0'
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Lint
          command: npm run lint

workflows:
  test:
    jobs:
      - node/test:
          version: '20.11.0'
          pkg-manager: npm
      - lint
      - bearer
