.header {
  border-top: 3px solid #f58025;
}

.header img {
  height: 34px;
}

main {
  padding-bottom: 3rem;
}

.img-fluid {
  width: 100%;
}

.navbar-text {
  padding-left: 16px;
  border-left: 1px solid white;
  margin-left: 16px;
  font-family: "franklin-gothic-urw",Helvetica,Arial,sans-serif;
  color: white;
}

.link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-title {
  font-size: calc(1.325rem + .9vw);
}

.page-title {
  background-color: var(--color-grayscale-dark);
}

footer {
  padding-bottom: 16px;
}

.footer-icon {
  padding-right: 4px;
}
